/* ADD YOUR STYLES HERE */

.horizontal-spaced-1-1 {
	padding: 20px 40px 10px 95px; 
}

.horizontal-spaced-1-2 {
	padding: 20px 40px 10px 0px; 
}

.ol-list {
	float: left;
	padding-top: 21px;
}

.horizontal-spaced-2-1 {
	display: inline-block;
	float: left;
	padding: 25px 40px 10px 10px;
}

.horizontal-spaced-2-1:first-child {
	padding: 25px 30px 0px 35px;
}

.arbitrary-box-1 {
	padding: 120px 0px 120px 0px;
}

.arbitrary-box-2 {
	padding-top: 60px;
}

.horizontal-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.horizontal-list li {
	float: left;
	margin: 0;
	padding: 0;
}

.pink-button {
	background: rgb(232, 130,137);
	text-decoration: none;
	color: #FFF;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 5px;
}

input.pink-button {
	background: rgb(232, 130,137);
	border: none;
	position: relative;
}

.button-1 {
	padding: 15px 65px;
	font-size: 1.5em;
	display: inline-block;
}

.button-2 {
	padding: 10px 45px;
}

.button-3 {
	padding: 5px 10px;
	font-size: 0.85em;
}

.button-4 {
	padding: 10px 40px;
}

.button-5 {
	padding: 10px 40px;
}

.button-6 {
	padding: 10px 40px;
}	

.navigation-list {
	background: rgb(232, 130,137);
	padding: 13px 0;
	vertical-align: middle;
	display: block;
	width: 610px;
	height: 13px;
	line-height: 13px;
	text-decoration: none;
	border-radius: 10px;
}

.navigation-list li {
	list-style-type: none;
	display: block;
	float: left;
	margin-right: 70px;
	text-decoration: none;
	border-radius: 10px;
	color: #FFF
}

.navigation-list li:first-child {
	margin-left: 40px;
}

.navigation-list li:last-child {
	margin-right: 0;
	padding-right: 0;
}

.navigation-list li a {
	text-decoration: none;
	color: #FFF;
}

.pagination {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

.pagination li {
	display: inline-block;
	border-bottom: 3px solid rgb(232, 130,137);
	text-align: center;
	margin: 0 auto;
}

.pagination li:first-child {
	border-bottom: none;
}

.pagination li:nth-child(5) {
	border-bottom: 3px solid gray;
	opacity: 0.5;
}

.pagination li:last-child {
	border-bottom: none;
}

.pagination li a, .pagination li span {
	text-decoration: none;
	color: rgb(232, 130,137);
	display: block;
	text-align: center;
	padding: 10px;
}

.pagination li span {
	color: gray;
}

.comment-stream-list {
	position: relative;
}

.comment-stream-big-container {
	display: block;
	position: relative;
	clear: both;
	margin: 0px 20px 20px 0px;
}

.comment-stream-big-photo {
	display: inline-block;
	float: left;
	margin: 0px 10px 10px 0px;
}

.comment-stream-twitter-feed-large {
	margin-left: 20px;
}

